@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  scroll-padding-top: 5rem;
}

body {
  background-color: #0A192F;
  overflow-x: hidden;
}

:root {
  font-size: 10px;
  scroll-behavior: smooth;
}

::marker {
  font-size: 3rem;
  color: #00A789;
}

select:before {
  content: url("ścieżka dostępu do obrazka");
  margin-right: 10px;
}

option:before {
  content: attr(value);
}

.nav-background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}
.nav-background--visible {
  display: block;
}

.nav-mobile {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 10;
  top: 0;
  background-color: #0A192F;
  box-shadow: 0 0 20px 2px rgba(2, 12, 27, 0.7);
  transform: translateY(-105px);
  animation: navbar-animation 0.3s 0.3s forwards alternate;
}
.nav-mobile__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  margin: 0 auto;
}
.nav-mobile__logo {
  width: 80px;
}
.nav-mobile__menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 70%;
  height: 100vh;
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background-color: #0A192F;
  transition: 0.3s ease-in-out;
  z-index: 12;
  padding: 4rem;
  gap: 2rem;
  box-shadow: 0 0 20px 2px rgba(2, 12, 27, 0.7);
}
.nav-mobile__menu--visible {
  right: 0;
}
.nav-mobile__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.nav-mobile__cv {
  border: 2px solid #00A789;
  border-radius: 0.7rem;
  font-size: 1.6rem;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem;
  text-decoration: none;
  color: #00A789;
  transition: 0.2s ease-in-out;
  justify-self: flex-end;
  cursor: pointer;
}
.nav-mobile__cv:hover {
  background-color: rgba(0, 167, 137, 0.2);
}
.nav-mobile__hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 45px;
  height: 30px;
  cursor: pointer;
}
.nav-mobile__hamburger-item {
  width: 100%;
  height: 0.2rem;
  background-color: #00A789;
  border-radius: 1rem;
}
.nav-mobile__hamburger-item:first-child {
  width: 80%;
}
.nav-mobile__option {
  display: block;
  cursor: pointer;
  color: #fff;
  font-size: 1.8rem;
  background-color: transparent;
  border: none;
  outline: none;
  transition: 0.2s ease-in-out;
  text-align: left;
}
.nav-mobile__option:hover {
  color: #00A789;
}
.nav-mobile__links {
  margin-top: 3rem;
}
.nav-mobile__heading {
  font-size: 1.6rem;
  color: #fff;
  font-weight: 600;
  margin-bottom: 1rem;
  letter-spacing: 0.09rem;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 10;
  top: 0;
  background-color: #0A192F;
  box-shadow: 0 0 20px 2px rgba(2, 12, 27, 0.7);
  transform: translateY(-105px);
  animation: navbar-animation 0.3s 0.3s forwards alternate;
  display: none;
}
.nav__wrapper {
  width: 100%;
  max-width: 1300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  margin: 0 auto;
}
.nav__logo {
  width: 80px;
  transition: 0.2s ease-in-out;
}
.nav__logo:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.nav__option {
  display: block;
  cursor: pointer;
  color: #fff;
  font-size: 1.8rem;
  background-color: transparent;
  border: none;
  outline: none;
  transition: 0.2s ease-in-out;
}
.nav__option:hover {
  color: #00A789;
}
.nav__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.nav__cv {
  border: 2px solid #00A789;
  border-radius: 0.7rem;
  font-size: 1.8rem;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1.5rem;
  text-decoration: none;
  color: #00A789;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.nav__cv:hover {
  background-color: rgba(0, 167, 137, 0.2);
}
.nav__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.section {
  max-width: 1300px;
  width: 90%;
  margin: 0 auto;
  padding: 5rem 0;
}
.section__title {
  font-size: 3rem;
  color: #fff;
  margin-bottom: 0.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  letter-spacing: 0.09rem;
}
.section__subtitle {
  font-size: 2rem;
  color: #00A789;
  margin-bottom: 2rem;
  font-weight: 400;
  letter-spacing: 0.09rem;
}
.section__colored {
  color: #00A789;
  font-weight: 500;
}

.hero {
  height: 100vh;
  width: 100%;
  position: relative;
}
.hero__wrapper {
  justify-content: center;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  max-width: 800px;
  transform: translate(-50%, -50%);
}
.hero__name {
  font-size: clamp(36px, 8vw, 7.5rem);
  font-weight: 600;
  opacity: 0;
  color: #fff;
  animation: fade-in-bottom 0.3s 0.6s forwards alternate;
}
.hero__title {
  font-size: clamp(30px, 8vw, 7.5rem);
  font-weight: 600;
  opacity: 0;
  color: #fff;
  animation: fade-in-bottom 0.3s 0.9s forwards alternate;
}
.hero__colored {
  font-weight: 600;
  color: #00A789;
}
.hero__description {
  font-size: 1.6rem;
  font-weight: 400;
  color: #ccc;
  margin-bottom: 2rem;
  line-height: 1.5;
  opacity: 0;
  animation: fade-in-bottom 0.3s 1.2s forwards alternate;
}
.hero__link {
  text-decoration: none;
  color: #00A789;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin-bottom: -7px;
  font-size: 1.6rem;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.hero__link::after {
  content: "";
  position: absolute;
  left: -100%;
  width: 100%;
  height: 1px;
  bottom: 0;
  background-color: #00A789;
  transition: 0.2s ease-in-out;
}
.hero__link:hover::after {
  left: 0;
}
.hero__buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  opacity: 0;
  animation: fade-in-bottom 0.3s 1.5s forwards alternate;
}
.hero__button {
  background-color: transparent;
  border: 2px solid #00A789;
  color: #00A789;
  padding: 1rem 2rem;
  border-radius: 0.7rem;
  font-size: 1.5rem;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  width: 150px;
  text-align: center;
  text-decoration: none;
  font-size: 1.6rem;
}
.hero__button:hover {
  background-color: rgba(0, 167, 137, 0.2);
}

.about__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
.about__text {
  width: 100%;
}
.about__title, .about__subtitle {
  text-align: center;
}
.about__description {
  color: #fff;
  font-size: 1.6rem;
  margin-bottom: 2rem;
  line-height: 1.5;
}
.about__info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0;
  width: 90%;
}
.about__image-wrapper {
  position: relative;
}
.about__image-container {
  border-radius: 180px 0 180px 0;
  overflow: hidden;
}
.about__square-1 {
  position: absolute;
  width: 100px;
  height: 100px;
  top: -20px;
  right: -25px;
  z-index: -1;
  background-color: #007583;
}
.about__square-2 {
  position: absolute;
  width: 100px;
  height: 100px;
  bottom: -20px;
  left: -25px;
  z-index: -1;
  background-color: #004462;
}
.about__image {
  max-width: 250px;
}
.about__links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 2rem;
}
.about__link {
  color: #00A789;
  font-size: 1.6rem;
  transition: 0.2s ease-in-out;
  font-size: 5rem;
}
.about__link:hover {
  transform: translateY(-10px);
}
.about__cv {
  border: 2px solid #00A789;
  border-radius: 0.7rem;
  font-size: 1.6rem;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1.5rem 2.5rem;
  text-decoration: none;
  color: #00A789;
  transition: 0.2s ease-in-out;
  margin-left: auto;
  margin-right: auto;
}
.about__cv:hover {
  background-color: rgba(0, 167, 137, 0.2);
}

.panel__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}
.panel__description {
  font-size: 1.6rem;
  color: white;
  margin-bottom: 2rem;
  line-height: 1.5;
  letter-spacing: 0.09rem;
  text-align: left;
}
.panel__text {
  width: 100%;
}
.panel__swiper-wrapper {
  width: 100%;
}
.panel__swiper-slide {
  background-position: center;
  background-size: cover;
  max-width: 800px;
  overflow: hidden;
}
.panel__swiper-image {
  width: 100%;
  height: auto;
  border-radius: 1rem;
}
.panel__text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: center;
  align-items: center;
}
.panel__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.panel__button {
  background-color: transparent;
  border: 2px solid #00A789;
  color: #00A789;
  padding: 1rem 2rem;
  border-radius: 0.7rem;
  font-size: 1.5rem;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  width: 230px;
  text-align: center;
  text-decoration: none;
  font-size: 1.6rem;
}
.panel__button:hover {
  background-color: rgba(0, 167, 137, 0.2);
}

.skills__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}
.skills__title {
  text-align: left;
}
.skills__description {
  color: #fff;
  line-height: 1.5;
  font-size: 1.6rem;
}
.skills__swiper {
  width: 320px;
  height: 320px;
}
.skills__swiper-slide {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  border-radius: 3rem;
  color: #fff;
  background-color: #0b253b;
}
.skills__heading {
  padding: 3rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 1rem;
}
.skills__name {
  font-size: 3rem;
  font-weight: 600;
}
.skills__icon {
  max-width: 36px;
}
.skills__lists {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 3rem 3rem 3rem;
  width: 100%;
}
.skills__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: calc(50% - 3rem);
  list-style: none;
}
.skills__item {
  font-size: 1.6rem;
}

.works__title, .works__subtitle {
  text-align: center;
}
.works__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  position: relative;
  height: -moz-fit-content;
  height: fit-content;
}
.works__isotope {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 3rem;
  flex-wrap: wrap;
}
.works__isotope-button {
  font-size: 1.6rem;
  display: block;
  padding: 1rem 2rem;
  width: 155px;
  color: #00A789;
  border: 2px solid #00A789;
  background-color: transparent;
  border-radius: 0.7rem;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.works__isotope-button:hover {
  background-color: rgba(0, 167, 137, 0.2);
}
.works__isotope-button--active, .works__isotope-button--active:hover {
  background-color: #00A789;
  color: #fff;
}
.works__card {
  width: 100%;
  display: none;
  flex-direction: column;
  max-width: 1300px;
}
.works__card--visible {
  display: flex;
}
.works__card--hide div:nth-child(1) {
  animation-name: fade-out-left;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-direction: alternate;
}
.works__card--hide div:nth-child(2) {
  animation-name: fade-out-right;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-direction: alternate;
}
.works__card--hide.works__card--changed-order div:nth-child(1) {
  animation-name: fade-out-right;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-direction: alternate;
}
.works__card--hide.works__card--changed-order div:nth-child(2) {
  animation-name: fade-out-left;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-direction: alternate;
}
.works__card--faded-in div:nth-child(1) {
  animation-name: fade-in-left;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-direction: alternate;
}
.works__card--faded-in div:nth-child(2) {
  animation-name: fade-in-right;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-direction: alternate;
}
.works__card--faded-in.works__card--changed-order div:nth-child(1) {
  animation-name: fade-in-right;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-direction: alternate;
}
.works__card--faded-in.works__card--changed-order div:nth-child(2) {
  animation-name: fade-in-left;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-direction: alternate;
}
.works__image-wrapper {
  width: 100%;
  height: 420px;
  border-radius: 0.7rem;
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.works__image-wrapper::after {
  content: "";
  background-color: #00A789;
  opacity: 0.3;
  width: 100%;
  min-width: 100%;
  height: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.2s opacity ease-in-out;
}
.works__image-wrapper:hover::after {
  opacity: 0.05;
}
.works__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.works__content {
  background-color: #060F1D;
  width: 95%;
  margin-top: -120px;
  z-index: 2;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  color: #fff;
  box-shadow: 0 0 20px 2px rgba(2, 12, 27, 0.7);
  border-radius: 1rem;
}
.works__name {
  font-size: 2rem;
  color: #00A789;
}
.works__tech {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: gray;
  padding: 1rem;
  margin-left: 0;
  padding-left: 0;
  gap: 1rem;
}
.works__item {
  font-size: 1.6rem;
}
.works__description {
  font-size: 1.6rem;
}
.works__buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.works__link {
  border: 2px solid #00A789;
  border-radius: 0.7rem;
  font-size: 1.6rem;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem 2rem;
  margin-top: 1rem;
  text-decoration: none;
  color: #00A789;
  transition: 0.2s ease-in-out;
  width: 23rem;
  text-align: center;
}
.works__link i {
  font-size: 1.4rem;
}
.works__link:hover {
  background-color: #00A789;
  color: #fff;
}
.works__link--visit {
  background-color: #00A789;
  color: #fff;
}

.contact__title, .contact__subtitle {
  text-align: center;
}
.contact__description {
  font-size: 1.6rem;
  max-width: 1000px;
  margin: 0 auto;
  color: #fff;
  text-align: center;
}
.contact__form {
  width: 100%;
  max-width: 1000px;
  margin: 3rem auto 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.contact__two-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
.contact__input-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: flex-start;
}
.contact__input-group--agree {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.contact__input-group--agree input {
  width: 1.7rem;
  height: 1.7rem;
  cursor: pointer;
  background-color: #ccc;
}
.contact__label {
  font-size: 1.6rem;
  color: #ccc;
}
.contact__input {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  background-color: #060F1D;
  border: 1px solid #060F1D;
  outline: none;
  border-radius: 0.5rem;
  color: #888;
}
.contact__input:focus {
  border-color: #00A789;
}
.contact__submit {
  background-color: transparent;
  border: 2px solid #00A789;
  color: #00A789;
  padding: 1rem 2rem;
  border-radius: 0.7rem;
  font-size: 1.5rem;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  width: 230px;
  text-align: center;
  text-decoration: none;
  font-size: 1.6rem;
  align-self: flex-start;
}
.contact__submit:hover {
  background-color: rgba(0, 167, 137, 0.2);
}
.contact__success {
  color: #fff;
  font-size: 1.6rem;
  text-align: center;
  margin-top: 2rem;
  color: #00A789;
  border: 2px solid #00A789;
  border-radius: 1rem;
  max-width: 800px;
  margin: 2rem auto 0 auto;
  padding: 1.5rem;
  background-color: rgba(0, 167, 137, 0.2);
}

.footer {
  background-color: #060F1D;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1.5rem;
}
.footer__text {
  color: #fff;
  font-size: 1.6rem;
}
.footer__links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.footer__link {
  font-size: 4rem;
  color: #00A789;
}
.footer__form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  width: 100%;
}
.footer__label {
  position: relative;
}
.footer__flag {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
}
.footer__radio {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  transform: translate(-50%, -50%);
  background-color: red;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}

/* Media queries */
@media (min-width: 768px) {
  .works__card {
    flex-direction: row;
  }
  .works__card--changed-order .works__content {
    order: -1;
    margin-left: 0;
    margin-right: -120px;
  }
  .works__content {
    margin-top: 0;
    margin-left: -120px;
    height: 50%;
    margin-top: auto;
    margin-bottom: auto;
    padding: 2rem;
  }
  .works__buttons {
    flex-direction: row;
    justify-content: flex-start;
  }
  .works__image-wrapper {
    height: 500px;
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .nav {
    display: flex;
  }
  .nav-mobile {
    display: none;
  }
  .section {
    padding: 6rem 0;
  }
  .section__title {
    font-size: 4rem;
    text-align: center;
  }
  .section__subtitle {
    font-size: 2.7rem;
    text-align: center;
  }
  .hero__description {
    font-size: 1.8rem;
  }
  .hero__button {
    font-size: 2rem;
  }
  .hero__wrapper {
    top: 48%;
  }
  .hero__link {
    font-size: 1.8rem;
  }
  .panel__text-wrapper {
    flex-direction: row;
    gap: 4rem;
    align-items: flex-start;
    justify-content: space-between;
  }
  .panel__text-container {
    width: calc(50% - 4rem);
    text-align: justify;
    position: relative;
  }
  .panel__description {
    font-size: 1.8rem;
  }
  .panel__button {
    font-size: 1.8rem;
    width: 250px;
  }
  .skills__title, .skills__subtitle {
    text-align: left;
  }
  .skills__description {
    font-size: 1.8rem;
  }
  .skills__item {
    font-size: 1.73rem;
  }
  .skills__wrapper {
    justify-content: space-between;
    flex-direction: row;
  }
  .skills__text-wrapper {
    width: calc(50% - 2rem);
  }
  .skills__cards-wrapper {
    width: calc(50% - 2rem);
  }
  .skills__swiper {
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: 0;
  }
  .skills__name {
    font-size: 3.4rem;
  }
  .works__name {
    font-size: 2.5rem;
  }
  .works__description {
    font-size: 1.8rem;
  }
  .about__wrapper {
    margin-top: 4rem;
    flex-direction: row;
    align-items: flex-start;
    gap: 4rem;
    justify-content: space-between;
  }
  .about__text {
    width: calc(60% - 4rem);
  }
  .about__info {
    width: -moz-fit-content;
    width: fit-content;
  }
  .about__description {
    font-size: 1.8rem;
  }
  .about_image {
    max-width: 250px;
  }
  .about__links {
    gap: 5rem;
  }
  .about__link {
    font-size: 6rem;
  }
  .about__cv {
    font-size: 1.8rem;
  }
  .contact__description, .contact__label {
    font-size: 1.8rem;
  }
  .contact__two-inputs {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
  .contact__two-inputs .contact__input-group {
    width: calc(50% - 0.5rem);
  }
  .contact__input {
    font-size: 1.8rem;
  }
  .contact__label {
    cursor: pointer;
  }
  .contact__label--radio {
    font-size: 1.8rem;
  }
  .contact__radio-text {
    font-size: 1.8rem;
  }
  .contact__radio-input {
    width: 2.3rem;
    height: 2.3rem;
  }
  .contact__submit {
    font-size: 1.8rem;
  }
  .contact__radio-label {
    width: calc(25% - 1rem);
  }
  .contact__success {
    font-size: 1.8rem;
  }
  .footer__text {
    font-size: 1.8rem;
  }
  .footer__links {
    gap: 3rem;
  }
  .footer__link {
    font-size: 5rem;
  }
}
/* Animations */
@keyframes fade-in {
  from {
    transform: scale(1) translateY(-10px);
    opacity: 0;
  }
  to {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}
@keyframes nav-link-animation {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes navbar-animation {
  from {
    transform: translateY(-105px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes fade-out-left {
  from {
    opacity: 1;
    transform: translateX(0px);
  }
  to {
    opacity: 0;
    transform: translateX(-3rem);
  }
}
@keyframes fade-out-right {
  from {
    opacity: 1;
    transform: translateX(0px);
  }
  to {
    opacity: 0;
    transform: translateX(3rem);
  }
}
@keyframes fade-in-left {
  from {
    opacity: 0;
    transform: translateX(-3rem);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateX(3rem);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes fade-in-bottom {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
