* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    scroll-padding-top: 5rem;
}

$main-color: #00A789;
$blue: #0A192F;
$dark-blue: #060F1D;
$light-color: #ccd6f6;

$heading-desktop-fz: 3.8rem;
$heading-mobile-fz: 3rem;

$subheading-desktop-fz: 2.5rem;
$subheading-mobile-fz: 2rem;

$text-desktop-fz: 1.8rem;
$text-mobile-fz: 1.6rem;

body {
    background-color: $blue;
    overflow-x: hidden;
}

:root {
    font-size: 10px;
    scroll-behavior: smooth;
}

::marker {
    font-size: 3rem;
    color: $main-color;
}

select:before {
    content: url('ścieżka dostępu do obrazka');
    margin-right: 10px;
}

option:before {
    content: attr(value);
}

.nav-background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;

    &--visible {
        display: block;
    }
}

.nav-mobile {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 10;
    top: 0;
    background-color: $blue;
    box-shadow: 0 0 20px 2px rgba(2, 12, 27, 0.7);
    transform: translateY(-105px);
    animation: navbar-animation 0.3s 0.3s forwards alternate;

    &__wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
        margin: 0 auto;
    }

    &__logo {
        width: 80px;
    }

    &__menu {
        position: fixed;
        top: 0;
        right: -100%;
        width: 70%;
        height: 100vh;
        max-width: 400px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        background-color: $blue;
        transition: 0.3s ease-in-out;
        z-index: 12;
        padding: 4rem;
        gap: 2rem;
        box-shadow: 0 0 20px 2px rgba(2, 12, 27, 0.7);

        &--visible {
            right: 0;
        }
    }

    &__buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    &__cv {
        border: 2px solid $main-color;
        border-radius: 0.7rem;
        font-size: $text-mobile-fz;
        display: block;
        width: fit-content;
        padding: 1rem;
        text-decoration: none;
        color: $main-color;
        transition: .2s ease-in-out;
        justify-self: flex-end;
        cursor: pointer;

        &:hover {
            background-color: rgba(0, 167, 137, 0.2);
        }
    }

    &__hamburger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        width: 45px;
        height: 30px;
        cursor: pointer;
    }

    &__hamburger-item {
        width: 100%;
        height: .2rem;
        background-color: $main-color;
        border-radius: 1rem;
    }

    &__hamburger-item:first-child {
        width: 80%;
    }

    &__option {
        display: block;
        cursor: pointer;
        color: #fff;
        font-size: $text-desktop-fz;
        background-color: transparent;
        border: none;
        outline: none;
        transition: 0.2s ease-in-out;
        text-align: left;

        &:hover {
            color: $main-color;
        }
    }

    &__links {
        margin-top: 3rem;
    }

    &__heading {
        font-size: $text-mobile-fz;
        color: #fff;
        font-weight: 600;
        margin-bottom: 1rem;
        letter-spacing: 0.09rem;
    }

    &__close {
        position: absolute;
        top: 2rem;
        right: 2rem;
        max-width: 48px;
        color: #fff;
        cursor: pointer;
    }
}

.nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 10;
    top: 0;
    background-color: $blue;
    box-shadow: 0 0 20px 2px rgba(2, 12, 27, 0.7);
    transform: translateY(-105px);
    animation: navbar-animation 0.3s 0.3s forwards alternate;
    display: none;

    &__wrapper {
        width: 100%;
        max-width: 1300px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
        margin: 0 auto;
    }

    &__logo {
        width: 80px;
        transition: .2s ease-in-out;

        &:hover {
            cursor: pointer;
            transform: scale(1.1);
        }
    }

    &__option {
        display: block;
        cursor: pointer;
        color: #fff;
        font-size: $text-desktop-fz;
        background-color: transparent;
        border: none;
        outline: none;
        transition: 0.2s ease-in-out;

        &:hover {
            color: $main-color;
        }
    }

    &__menu {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }

    &__cv {
        border: 2px solid $main-color;
        border-radius: 0.7rem;
        font-size: $text-desktop-fz;
        display: block;
        width: fit-content;
        padding: 1.5rem;
        text-decoration: none;
        color: $main-color;
        transition: .2s ease-in-out;
        cursor: pointer;

        &:hover {
            background-color: rgba(0, 167, 137, 0.2);
        }
    }

    &__buttons {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 1rem;
    }

    &__language-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        cursor: pointer;
        position: relative;
    }

    &__language-current {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        cursor: pointer;
    }

    &__language-wrapper:hover &__arrow {
        color: $main-color;
    }

    &__language {
        font-size: $text-desktop-fz;
        color: #fff;
        text-decoration: none;
    }

    &__arrow {
        color: #fff;
        font-size: 2rem;
        transition: .2s ease-in-out;
        transition: 0.2s ease-in-out;

        &--active {
            transform: rotate(180deg);
        }
    }

    &__flag {
        width: 25px;
    }

    &__language-dropdown {
        position: absolute;
        top: 66px;
        left: 0;
        background-color: $blue;
        width: 120%;
        padding: 2rem;
        box-shadow: 0 0 20px 2px rgba(2, 12, 27, 0.7);
        opacity: 0;
        visibility: hidden;
        transition: .2s ease-in-out;

        &--visible {
            opacity: 1;
            visibility: visible;
        }
    }

    &__language-link {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        color: #fff;
        text-decoration: none;
        font-size: $text-desktop-fz;
        transition: 0.2s ease-in-out;

        &:hover {
            color: $main-color;
        }
    }
}

.section {
    max-width: 1300px;
    width: 90%;
    margin: 0 auto;
    padding: 5rem 0;

    &__title {
        font-size: $heading-mobile-fz;
        color: #fff;
        margin-bottom: 0.2rem;
        font-weight: 600;
        margin-bottom: 1rem;
        letter-spacing: 0.09rem;
    }

    &__subtitle {
        font-size: $subheading-mobile-fz;
        color: $main-color;
        margin-bottom: 2rem;
        font-weight: 400;
        letter-spacing: 0.09rem;
    }

    &__colored {
        color: $main-color;
        font-weight: 500;
    }
}

.hero {
    height: 100vh;
    width: 100%;
    position: relative;

    &__wrapper {
        justify-content: center;
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 90%;
        max-width: 800px;
        transform: translate(-50%, -50%);
    }

    &__name {
        font-size: clamp(36px, 8vw, 7.5rem);
        font-weight: 600;
        opacity: 0;
        color: #fff;
        animation: fade-in-bottom 0.3s 0.6s forwards alternate;
    }

    &__title {
        font-size: clamp(30px, 8vw, 7.5rem);
        font-weight: 600;
        opacity: 0;
        color: #fff;
        animation: fade-in-bottom 0.3s 0.9s forwards alternate;
    }

    &__colored {
        font-weight: 600;
        color: $main-color;
    }

    &__description {
        font-size: $text-mobile-fz;
        font-weight: 400;
        color: #ccc;
        margin-bottom: 2rem;
        line-height: 1.5;
        opacity: 0;
        animation: fade-in-bottom 0.3s 1.2s forwards alternate;
    }

    &__link {
        text-decoration: none;
        color: $main-color;
        position: relative;
        display: inline-block;
        overflow: hidden;
        margin-bottom: -7px;
        font-size: $text-mobile-fz;
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;

        &::after {
            content: '';
            position: absolute;
            left: -100%;
            width: 100%;
            height: 1px;
            bottom: 0;
            background-color: $main-color;
            transition: .2s ease-in-out;
        }

        &:hover::after {
            left: 0;
        }
    }

    &__buttons {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
        opacity: 0;
        animation: fade-in-bottom 0.3s 1.5s forwards alternate;
    }

    &__button {
        background-color: transparent;
        border: 2px solid $main-color;
        color: $main-color;
        padding: 1rem 2rem;
        border-radius: 0.7rem;
        font-size: 1.5rem;
        transition: 0.3s ease-in-out;
        cursor: pointer;
        width: 150px;
        text-align: center;
        text-decoration: none;
        font-size: $text-mobile-fz;

        &:hover {
            background-color: rgba(0, 167, 137, 0.2);
        }
    }
}

.about {

    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
    }

    &__text {
        width: 100%;
    }

    &__title,
    &__subtitle {
        text-align: center;
    }

    &__description {
        color: #fff;
        font-size: $text-mobile-fz;
        margin-bottom: 2rem;
        line-height: 1.5;
    }

    &__info {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 0;
        width: 90%;
    }

    &__image-wrapper {
        position: relative;
    }

    &__image-container {
        border-radius: 180px 0 180px 0;
        overflow: hidden;
    }

    &__square-1 {
        position: absolute;
        width: 100px;
        height: 100px;
        top: -20px;
        right: -25px;
        z-index: -1;
        background-color: #007583;
    }

    &__square-2 {
        position: absolute;
        width: 100px;
        height: 100px;
        bottom: -20px;
        left: -25px;
        z-index: -1;
        background-color: #004462;
    }

    &__image {
        max-width: 250px;
    }

    &__links {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        margin-top: 2rem;
    }

    &__link {
        color: $main-color;
        font-size: $text-mobile-fz;
        transition: 0.2s ease-in-out;
        font-size: 5rem;

        &:hover {
            transform: translateY(-10px);
        }
    }

    &__cv {
        border: 2px solid #00A789;
        border-radius: 0.7rem;
        font-size: $text-mobile-fz;
        display: block;
        width: fit-content;
        padding: 1.5rem 2.5rem;
        text-decoration: none;
        color: #00A789;
        transition: 0.2s ease-in-out;
        margin-left: auto;
        margin-right: auto;

        &:hover {
            background-color: rgba(0, 167, 137, 0.2);
        }
    }
}

.panel {

    &__wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 4rem;
    }

    &__description {
        font-size: $text-mobile-fz;
        color: white;
        margin-bottom: 2rem;
        line-height: 1.5;
        letter-spacing: 0.09rem;
        text-align: left;
    }

    &__text {
        width: 100%;
    }

    &__swiper-wrapper {
        width: 100%;
    }

    &__swiper-slide {
        background-position: center;
        background-size: cover;
        max-width: 800px;
        overflow: hidden;
    }

    &__swiper-image {
        width: 100%;
        height: auto;
        border-radius: 1rem;
    }

    &__text-wrapper {
        display: flex;
        flex-direction: column;
        gap: 0;
        justify-content: center;
        align-items: center;
    }

    &__buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        flex-wrap: wrap;
    }

    &__button {
        background-color: transparent;
        border: 2px solid $main-color;
        color: $main-color;
        padding: 1rem 2rem;
        border-radius: 0.7rem;
        font-size: 1.5rem;
        transition: 0.3s ease-in-out;
        cursor: pointer;
        width: 230px;
        text-align: center;
        text-decoration: none;
        font-size: $text-mobile-fz;

        &:hover {
            background-color: rgba(0, 167, 137, 0.2);
        }
    }
}

.skills {

    &__wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 4rem;
    }

    &__title {
        text-align: left;
    }

    &__description {
        color: #fff;
        line-height: 1.5;
        font-size: $text-mobile-fz;
    }

    &__swiper {
        width: 320px;
        height: 320px;
    }

    &__swiper-slide {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        border-radius: 3rem;
        color: #fff;
        background-color: #0b253b;
    }

    &__heading {
        padding: 3rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        gap: 1rem;
    }

    &__name {
        font-size: $heading-mobile-fz;
        font-weight: 600;
    }

    &__icon {
        max-width: 36px;
    }

    &__lists {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0 3rem 3rem 3rem;
        width: 100%;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: calc(50% - 3rem);
        list-style: none;
    }

    &__item {
        font-size: $text-mobile-fz;
    }

    &__info {
        width: fit-content;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
        gap: 1rem;
        margin-bottom: 4rem;
    }

    &__swipe-icon {
        color: #fff;
        font-size: 3rem;
        animation: swipe 2s ease-in-out infinite both;
    }

    &__swipe-text {
        color: #fff;
        font-size: $text-mobile-fz;
        letter-spacing: 0.09rem;

    }
}

.works {

    &__title,
    &__subtitle {
        text-align: center;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        position: relative;
        height: fit-content;
    }

    &__isotope {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin-bottom: 3rem;
        flex-wrap: wrap;
    }

    &__isotope-button {
        font-size: $text-mobile-fz;
        display: block;
        padding: 1rem 2rem;
        width: 155px;
        color: $main-color;
        border: 2px solid $main-color;
        background-color: transparent;
        border-radius: 0.7rem;
        transition: 0.3s ease-in-out;
        cursor: pointer;

        &:hover {
            background-color: rgba(0, 167, 137, 0.2);
        }

        &--active,
        &--active:hover {
            background-color: $main-color;
            color: #fff;
        }
    }

    &__card {
        width: 100%;
        display: none;
        flex-direction: column;
        max-width: 1300px;

        &--visible {
            display: flex;
        }

        &--hide div {
            &:nth-child(1) {
                animation-name: fade-out-left;
                animation-duration: 0.5s;
                animation-fill-mode: forwards;
                animation-direction: alternate;
            }

            &:nth-child(2) {
                animation-name: fade-out-right;
                animation-duration: 0.5s;
                animation-fill-mode: forwards;
                animation-direction: alternate;
            }
        }

        &--hide.works__card--changed-order div {
            &:nth-child(1) {
                animation-name: fade-out-right;
                animation-duration: 0.5s;
                animation-fill-mode: forwards;
                animation-direction: alternate;
            }

            &:nth-child(2) {
                animation-name: fade-out-left;
                animation-duration: 0.5s;
                animation-fill-mode: forwards;
                animation-direction: alternate;
            }
        }

        &--faded-in div {
            &:nth-child(1) {
                animation-name: fade-in-left;
                animation-duration: 0.5s;
                animation-fill-mode: forwards;
                animation-direction: alternate;
            }

            &:nth-child(2) {
                animation-name: fade-in-right;
                animation-duration: 0.5s;
                animation-fill-mode: forwards;
                animation-direction: alternate;
            }
        }

        &--faded-in.works__card--changed-order div {
            &:nth-child(1) {
                animation-name: fade-in-right;
                animation-duration: 0.5s;
                animation-fill-mode: forwards;
                animation-direction: alternate;
            }

            &:nth-child(2) {
                animation-name: fade-in-left;
                animation-duration: 0.5s;
                animation-fill-mode: forwards;
                animation-direction: alternate;
            }
        }
    }

    &__image-wrapper {
        width: 100%;
        height: 420px;
        border-radius: 0.7rem;
        overflow: hidden;
        position: relative;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        &::after {
            content: '';
            background-color: $main-color;
            opacity: 0.3;
            width: 100%;
            min-width: 100%;
            height: 100%;
            min-height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            transition: 0.2s opacity ease-in-out;
        }

        &:hover::after {
            opacity: 0.05;
        }
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__content {
        background-color: $dark-blue;
        width: 95%;
        margin-top: -120px;
        z-index: 2;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        padding: 1rem;
        color: #fff;
        box-shadow: 0 0 20px 2px rgba(2, 12, 27, 0.7);
        border-radius: 1rem;
    }

    &__name {
        font-size: $subheading-mobile-fz;
        color: $main-color;
    }

    &__tech {
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        color: gray;
        padding: 1rem;
        margin-left: 0;
        padding-left: 0;
        gap: 1rem;
    }

    &__item {
        font-size: $text-mobile-fz;
    }

    &__description {
        font-size: $text-mobile-fz;
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }

    &__link {
        border: 2px solid $main-color;
        border-radius: 0.7rem;
        font-size: $text-mobile-fz;
        display: block;
        width: fit-content;
        padding: 1rem 2rem;
        margin-top: 1rem;
        text-decoration: none;
        color: $main-color;
        transition: .2s ease-in-out;
        width: 23rem;
        text-align: center;

        & i {
            font-size: 1.4rem;
        }

        &:hover {
            background-color: $main-color;
            color: #fff;
        }

        &--visit {
            background-color: $main-color;
            color: #fff;
        }
    }

    &__all {
        background-color: transparent;
        border: 2px solid $main-color;
        color: $main-color;
        padding: 1rem 2rem;
        border-radius: 0.7rem;
        font-size: 1.5rem;
        transition: 0.3s ease-in-out;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        font-size: $text-mobile-fz;

        &:hover {
            background-color: rgba(0, 167, 137, 0.2);
        }
    }
}

.contact {

    &__title,
    &__subtitle {
        text-align: center;
    }

    &__description {
        font-size: $text-mobile-fz;
        max-width: 1000px;
        margin: 0 auto;
        color: #fff;
        text-align: center;
    }

    &__form {
        width: 100%;
        max-width: 1000px;
        margin: 3rem auto 0 auto;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }

    &__two-inputs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        width: 100%;
    }

    &__input-group {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-items: flex-start;

        &--agree {
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 1rem;

            & input {
                width: 1.7rem;
                height: 1.7rem;
                cursor: pointer;
                background-color: #ccc;
            }
        }
    }

    &__label {
        font-size: $text-mobile-fz;
        color: #ccc;
    }

    &__input {
        width: 100%;
        padding: 1.5rem;
        font-size: $text-mobile-fz;
        background-color: $dark-blue;
        border: 1px solid $dark-blue;
        outline: none;
        border-radius: .5rem;
        color: #888;
        resize: none;

        &:focus {
            border-color: $main-color;
        }
    }

    &__submit {
        background-color: transparent;
        border: 2px solid $main-color;
        color: $main-color;
        padding: 1rem 2rem;
        border-radius: 0.7rem;
        font-size: 1.5rem;
        transition: 0.3s ease-in-out;
        cursor: pointer;
        width: 230px;
        text-align: center;
        text-decoration: none;
        font-size: $text-mobile-fz;
        align-self: flex-start;

        &:hover {
            background-color: rgba(0, 167, 137, 0.2);
        }
    }

    &__success {
        color: #fff;
        font-size: $text-mobile-fz;
        text-align: center;
        margin-top: 2rem;
        color: $main-color;
        border: 2px solid $main-color;
        border-radius: 1rem;
        max-width: 800px;
        margin: 2rem auto 0 auto;
        padding: 1.5rem;
        background-color: rgba(0, 167, 137, 0.2);
    }

}

.projects {
    max-width: 1300px;
    margin: 0 auto;
    padding: calc(105px + 4rem) 2rem 4rem 2rem;

    &__heading {
        font-size: $heading-mobile-fz;
        color: #fff;
        font-weight: bold;
        letter-spacing: 0.09rem;
    }

    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: start;
        gap: 2rem;
        margin-top: 4rem;
        flex-wrap: wrap;
    }

    &__project {
        width: 100%;
        max-width: 400px;
        padding: 2rem;
        background-color: $dark-blue;
        box-shadow: 0 0 20px 2px rgba(2, 12, 27, 0.7);
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__name {
        font-size: $subheading-mobile-fz;
        color: #fff;
        font-weight: bold;
        letter-spacing: 0.09rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
    }

    &__icon {
        width: 32px;
    }

    &__tech-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 0.7rem;
        list-style: none;
        font-size: $text-mobile-fz;
    }

    &__tech {
        color: gray;
    }

    &__description {
        font-size: $text-mobile-fz;
        color: #fff;
        line-height: 1.5;
    }

    &__buttons {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
    }

    &__button-icon {
        width: 36px;
    }

    &__tag {
        margin-left: auto;
        margin-right: 0;
        padding: 0.5rem;
        background-color: rgba(0, 167, 137, 0.2);
        color: $main-color;
        border-radius: 0.5rem;
        font-size: $text-mobile-fz;
    }
}

.footer {
    background-color: $dark-blue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .5rem;
    padding: 1.5rem;

    &__text {
        color: #fff;
        font-size: $text-mobile-fz;
    }

    &__links {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }

    &__link {
        font-size: 4rem;
        color: $main-color;
    }

    &__form {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4rem;
        padding-top: .5rem;
        padding-bottom: 1rem;
        width: 100%;
    }

    &__label {
        position: relative;
    }

    &__flag {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 30px;
    }

    &__radio {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 30px;
        height: 30px;
        transform: translate(-50%, -50%);
        background-color: red;
        z-index: 2;
        opacity: 0;
        cursor: pointer;
    }
}


/* Media queries */
@media (min-width: 768px) {
    .works {
        &__card {
            flex-direction: row;
        }

        &__card--changed-order &__content {
            order: -1;
            margin-left: 0;
            margin-right: -120px;
        }

        &__content {
            margin-top: 0;
            margin-left: -120px;
            height: 50%;
            margin-top: auto;
            margin-bottom: auto;
            padding: 2rem;
        }

        &__buttons {
            flex-direction: row;
            justify-content: flex-start;
        }

        &__image-wrapper {
            height: 500px;
            width: 100%;
        }
    }
}

@media(min-width: 1024px) {
    .nav {
        display: flex;
    }

    .nav-mobile {
        display: none;
    }

    .section {
        padding: 6rem 0;

        &__title {
            font-size: calc($heading-desktop-fz + .2rem);
            text-align: center;
        }

        &__subtitle {
            font-size: calc($subheading-desktop-fz + .2rem);
            text-align: center;
        }
    }

    .hero {
        &__description {
            font-size: $text-desktop-fz;
        }

        &__button {
            font-size: calc($text-desktop-fz + .2rem);
        }

        &__wrapper {
            top: 48%;
        }

        &__link {
            font-size: $text-desktop-fz;
        }
    }

    .panel {
        &__text-wrapper {
            flex-direction: row;
            gap: 4rem;
            align-items: flex-start;
            justify-content: space-between;
        }

        &__text-container {
            width: calc(50% - 4rem);
            text-align: justify;
            position: relative;
        }

        &__description {
            font-size: $text-desktop-fz;
        }

        &__button {
            font-size: $text-desktop-fz;
            width: 250px;
        }
    }

    .skills {

        &__title,
        &__subtitle {
            text-align: left;
        }

        &__description {
            font-size: $text-desktop-fz;
        }

        &__item {
            font-size: calc($text-desktop-fz - 0.07rem);
        }

        &__wrapper {
            justify-content: space-between;
            flex-direction: row;
        }

        &__text-wrapper {
            width: calc(50% - 2rem);
        }

        &__cards-wrapper {
            width: calc(50% - 2rem);
        }

        &__swiper {
            width: 400px;
            height: 400px;
            margin-left: auto;
            margin-right: 0;
        }

        &__name {
            font-size: calc($heading-desktop-fz - .4rem);
        }

        &__swipe-text {
            font-size: $text-desktop-fz;
            letter-spacing: 0.09rem;
        }
    }

    .works {
        &__name {
            font-size: $subheading-desktop-fz;
        }

        &__description {
            font-size: $text-desktop-fz;
        }

        &__all {
            font-size: $text-desktop-fz;
        }
    }

    .about {
        &__wrapper {
            margin-top: 4rem;
            flex-direction: row;
            align-items: flex-start;
            gap: 4rem;
            justify-content: space-between;
        }

        &__text {
            width: calc(60% - 4rem);
        }

        &__info {
            width: fit-content;
        }

        &__description {
            font-size: $text-desktop-fz;
        }

        &_image {
            max-width: 250px;
        }

        &__links {
            gap: 5rem;
        }

        &__link {
            font-size: 6rem;
        }

        &__cv {
            font-size: $text-desktop-fz;
        }
    }

    .contact {

        &__description,
        &__label {
            font-size: $text-desktop-fz;
        }

        &__two-inputs {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;
        }

        &__two-inputs &__input-group {
            width: calc(50% - .5rem);
        }

        &__input {
            font-size: $text-desktop-fz;
        }

        &__label {
            cursor: pointer;

            &--radio {
                font-size: $text-desktop-fz;
            }
        }

        &__radio-text {
            font-size: $text-desktop-fz;
        }

        &__radio-input {
            width: 2.3rem;
            height: 2.3rem;
        }

        &__submit {
            font-size: $text-desktop-fz;
        }

        &__radio-label {

            width: calc(25% - 1rem);
        }

        &__success {
            font-size: $text-desktop-fz;
        }
    }

    .footer {

        &__text {
            font-size: $text-desktop-fz;
        }

        &__links {
            gap: 3rem;
        }

        &__link {
            font-size: 5rem;
        }
    }

    .projects {
        &__heading {
            font-size: $heading-desktop-fz;
        }

        &__wrapper {
            justify-content: space-between;
        }
    }
}

/* Animations */
@keyframes fade-in {
    from {
        transform: scale(1) translateY(-10px);
        opacity: 0;
    }

    to {
        transform: scale(1) translateY(0);
        opacity: 1;
    }
}

@keyframes nav-link-animation {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes navbar-animation {
    from {
        transform: translateY(-105px);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes fade-out-left {
    from {
        opacity: 1;
        transform: translateX(0px);
    }

    to {
        opacity: 0;
        transform: translateX(-3rem);
    }
}

@keyframes fade-out-right {
    from {
        opacity: 1;
        transform: translateX(0px);
    }

    to {
        opacity: 0;
        transform: translateX(3rem);
    }
}

@keyframes fade-in-left {
    from {
        opacity: 0;
        transform: translateX(-3rem);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes fade-in-right {
    from {
        opacity: 0;
        transform: translateX(3rem);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes fade-in-bottom {
    from {
        opacity: 0;
        transform: translateY(2rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
